@charset "UTF-8";

@media (max-width:414px) {

/*----------------------------------------------
    全体構造
----------------------------------------------*/
 
 h1,h2,h3,h4 {
    width: 80%;
 }
 
 h1 {
    font-size: 15px;
 }
 
 h2 {
    font-size: 15px;
}
 
 h3 {
    font-size: 15px;
}
 
p, a {
    font-size: 15px;
 }

 li {
    font-size: 15px;
 }
 
 .inner {
    padding: 70px 5px;
 }

/*----------------------------------------------
    ヘッダー
----------------------------------------------*/

header h3 {
    width: 100%;
    font-size: 12px;
}

/*----------------------------------------------
    メインビジュアル
----------------------------------------------*/

.mainvisual {
    background-size: cover;
}

.mainvisual h2 {
    width: 80%;
    padding: 40px 0;
    text-align: left;
    font-size: 24px;
}

.mainvisual .inner {
    padding: 0;
}

.merit p {
    text-align: left;
}

.merit .sp_br {
    display: none;
}

/*----------------------------------------------
    特典
----------------------------------------------*/

.box-wrapper {
    display: block;
    margin-top: 10px;
}

.box {
    margin: 0 auto;
    margin-bottom: 20px;
}

.box:last-child {
    margin-bottom: 40px;
}

/*----------------------------------------------
    プレゼント内容
----------------------------------------------*/

.present p {
    text-align: left;
}

.present .sp_br {
    display: none;
}

/*----------------------------------------------
    限定
----------------------------------------------*/

.lim .sign {
    height: 200px; /**/
}

.lim .sign p {
    font-size: 20px; /**/
}

.lim .sign span {
    font-size: 70px; /**/
}

.lim .sign .edge {
    -webkit-text-stroke-width: 10px;
}

.lim .msg-box {
    text-align: left;
}

/*----------------------------------------------
    ストーリー
----------------------------------------------*/

.story {
    /*要素サイズ*/
    background-size: 90%;
}

.story p {
    text-align: left;
}

.story img {
    width: 100%;
}

.story .sp_br {
    display: none;
}

.message p {
    text-align: left;
}

/*----------------------------------------------
    Call to Action
----------------------------------------------*/

.btn {
     width: 250px;
}

}