@media (max-width: 768px) {

/*----------------------------------------------
    全体構造
----------------------------------------------*/
 
 h1 {
    font-size: 20px;
 }
 
 h2 {
    font-size: 32px;
}
 
 p, a {
    font-size: 15px;
 }

 li {
    font-size: 15px;
 }

/*----------------------------------------------
    メインビジュアル
----------------------------------------------*/

.mainvisual {
   background-size: cover;
}

.mainvisual h2 {
   padding: 50px 0;
}

/*----------------------------------------------
    現状の悩み
----------------------------------------------*/

.trouble li {
   width: 80%;
}

/*----------------------------------------------
    ストーリー
----------------------------------------------*/

.story img {
   width: 80%;
}

.story .sp_br {
   display: none;
}

}